.logo {
    text-align: center;
    color: white;
    font-family: "Showcard Gothic";
    font-size: $logo-size;
    font-weight: bolder;
    text-shadow: 5px 5px 10px black;
    // border: 2px solid orange;
}
