.team-selection {
    margin-top: 1.5rem;
    text-align: center;
    color: white;
    font-family: "Segoe UI";
    font-size: $l-size;
    font-weight: bolder;
    // border: 3px solid white;
  }
  